{%extends 'layout.html' %}
{%block style %}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.about p {
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 10px;
}
{%endblock %}

{% block content %}
    <main>
        <section class="about">
            <h1>About Us</h1>
            <p>Welcome to Our Blog Community!</p>
            <p>We're delighted to have you join us. This is a vibrant space where everyone is encouraged to share their thoughts, read engaging blogs, and chat with fellow users. Whether you're here to express your ideas, gain new perspectives, or connect with like-minded individuals, you'll find a welcoming and interactive environment. Dive in, participate, and let's make this community thrive together!</p>
            <p>Happy blogging,<br>Samarth Mathur</p>
        </section>
    </main>


{% endblock %}