{% extends 'layout.html' %}

{% block title %}
Dashboard
{% endblock %}

{% block style %}
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}" />
    <style>
        body {
    padding-top: 20px;
    background-color: #eef2f7;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.card {
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.card-header {
    background-color: #007bff;
    color: white;
    font-weight: bold;
    text-align: center;
    border-radius: 5px 5px 0 0;
}

.card-body {
    background-color: white;
    border-radius: 0 0 5px 5px;
}

.dashboard-title {
    margin-bottom: 40px;
    font-size: 2.5em;
    color: #343a40;
    text-align: center;
}
    </style>
{% endblock %}
{% block content %}
<div class="container">
    <h1 class="dashboard-title text-center">Dashboard</h1>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Line Chart
                </div>
                <div class="card-body">
                    <canvas id="lineChart"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Bar Chart
                </div>
                <div class="card-body">
                    <canvas id="barChart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Custom JS -->
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
{% endblock %}
